


.search {
	display: inline-block;
	position: relative;
	height: 35px;
	width: 35px;
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 7px 9px 0px 9px;
	border: 3px solid #FFFFFF;
	border-radius: 25px;
	transition: all 200ms ease;
	cursor: text;
	width: 200px;
	margin-right: 0px;
	
	input {
        outline: none;
		width: 100%;
		border: none;
		box-sizing: border-box;
		font-size: 15px;
		color: inherit;
		background: transparent;
		outline-width: 0px;
	}
}