.App {
  text-align: center;
}

@keyframes container {
  from {background-color: #b9b9b9;}
  to {background-color: #6E6E6E;}
}

.container {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6E6E6E;
  height: 100vh;
  animation-name: container;
  animation-duration: 3s;
  
}