.loadingItem{
    padding-right: 2px;
    background: linear-gradient(90deg, rgb(109, 107, 107), rgb(200, 199, 199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out;
    display: flex;
    gap: 10px;
    margin: 0 0 6%;
    width: 18rem;
    border-radius: 5px;
    height: 2.5rem;
    align-items: center;
    box-shadow: 2px 3px 34px -7px rgba(109, 109, 109, 0.473);
    -webkit-animation: loadingAnimation 3s ease-in-out;
}

.LoadingTodo-Container{
    margin-top: 24px;
    box-shadow: 0px 5ox 50ox rgba(32, 35, 41, 0.15);
    padding: 12px 0;
}


@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}